<h1>Welcome to String Understanding of Python</h1>

<h3>Print String</h3>
<button (click) = "printString()">Get String</button>
<p>{{responseData.example}}</p>

<h3>Assign String to a Variable</h3>
<input type ='text' [(ngModel)] = "inputData" placeholder="Enter Data" />
<button (click) = "assignVariable()">Get String</button>
<p>{{responseData_one.example}}</p>

<h3>Multiline Strings</h3>
<button (click) = "multiLine_str()">Get Multiline String</button>
<p>{{responseData_two.example}}</p>

<h3>Strings are Arrays</h3>
<input type ='text' [(ngModel)] = "inputData_arrays" placeholder="Enter Data" />
<button (click) = "strArrays()">Get String</button>
<p>{{responseData_three.example}}</p>

<h3>Looping Through a String</h3>
<input type ='text' [(ngModel)] = "inputData_loops" placeholder="Enter Data" />
<button (click) = "loop_str()">Get String</button>
<p>{{responseData_loops.actual}}</p>
<p>{{responseData_loops.example}}</p>

<h3>Strings Length</h3>
<input type ='text' [(ngModel)] = "inputData_len" placeholder="Enter Data" />
<button (click) = "strLength()">Get Length</button>
<p>{{responseData_len.actual}}</p>
<p>{{responseData_len.example}}</p>

<h3>Check Strings</h3>
<button (click) = "check_str()">Check String</button>
<p>{{responseData_check.example}}</p>

<h3>Check not in Strings</h3>
<button (click) = "check_str_not()">Check String</button>
<p>{{responseData_check_not.example}}</p>